#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.label{
  color: white;
  font-size: x-large;
  text-align: center;
}

.label-2{
  color: rgb(123, 123, 228);
  font-size: large;
  margin: 10px;
  text-align: center;
}

.label-temp{
  font-size: 80px;
  text-align: center;
  color: white;
}

