<ion-header>
  <ion-toolbar color='tertiary'>
    <ion-title>ABOUT</ion-title>
    <ion-buttons slot="start">
      <ion-back-button slot="start" defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background: rgb(164, 164, 243);">
  <ion-list>
    <ion-item>
      <strong>App name:</strong> WeatherApp
    </ion-item>
    <ion-item>
      <strong>API used: </strong><ion-label>OpenWeather API</ion-label>
    </ion-item>
    <ion-item>
      <strong>Developer: </strong> Shudi Lin
    </ion-item>
  </ion-list>

</ion-content>
